attrs
certifi
chardet
click
decorator
Flask
gunicorn
idna
importlib-metadata
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy
pandas
plotly
pyrsistent
python-dateutil
pytz
requests
six
traitlets
typing-extensions
urllib3
Werkzeug
zipp